.vs/
Debug/
*.filters
*.user
*.json
*.out
Dedekind/.gitattributes
x64/
x86/
Debug/
Release/
Dedekind/x86/
Dedekind/x64/
Dedekind/Debug/
Dedekind/Release/
build/
build_debug/
data/
*.mbf
*.diagsession
*.mbfLinks
*.xlsx
*.mbfU64
*.aocx
*.aocr
*.aoco

