.vs/
Debug/
*.filters
*.user
*.json
Dedekind/.gitattributes
x64/
x86/
Debug/
Release/
Dedekind/x86/
Dedekind/x64/
Dedekind/Debug/
Dedekind/Release/
build/
build_debug/
*.mbf
*.txt
*.diagsession
*.mbfLinks
*.xlsx
*.mbfU64
